body {
  background-color: #cdddff;
  overflow: hidden;
}

.content {
  background-color: #ccf4fc;
  border-radius: 15px;
}

#art {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
}

#choices {
  height: 100%;
  padding-bottom: 15px;
}

button {
  margin-top: 15px;
  width: 100%;
}

button:hover {
  border-color: white;
}

.pastel-green {
  background-color: #cdfbcc;
}

.pastel-red {
  background-color: #fecece;
}

.pastel-orange {
  background-color: #feddca;
}

.pastel-yellow {
  background-color: #fcf4cd;
}

.pastel-pink {
  background-color: #fccded;
}

.pastel-green {
  background-color: #cdfbcc;
}