body {
  background-color: grey;
  overflow: hidden;
}

.content {
  background-color: aquamarine;
  border-radius: 15px;
}

#art {
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 40vh;
}

#choices {
  height: 45vh;
}

button {
  margin-top: 15px;
  width: 100%;
}